@import "src/assets/stylesheets/variables";

.extended-fact-widget {
  padding: 40px;
  //width: 250px;

  .fact-value,
  .fact-key {
    display: block;
    text-align: left;
  }

  .fact-title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    position: relative;
    &:after {
      content: "";
      display: block;
      border: 2px solid $blue-line;
      position: absolute;
      width: 18px;
      top: 12px;
      left: 35px;
    }
  }

  .fact-value {
    color: #fff;
    font-size: 120px;
    line-height: 80px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    margin-top: 20px;
  }

  .fact-key {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 2px solid $blue-line;
    padding-bottom: 24px;
    margin-bottom: 120px;
  }

  span:empty {
    min-width: 20px !important;
    display: block;
    background: rgba(0, 255, 0, 0.2);
  }
}
