@import "src/assets/stylesheets/variables";

.card--red {
  background-color: $primary;
  padding: 32px;
  margin-top: 16px;
  @media screen and (min-width: 737px) {
  width: 59%;
  margin-left: auto;
  }
  @media screen and (max-width: 736px) {
    margin-left: -32px;
    margin-right: -32px;
    margin-top: 0;
    border-bottom: 1px solid #fd7976;
  }


  h2 {
    color: #f7ede1 !important;
    font: 24px/30px bebas-neue-pro-semiexpanded, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  p {
    color: #f7ede1 !important;
    margin: 0 !important;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $screen-lg-min) {
}

/*@media (max-width: $screen-md-max) {
}

@media (max-width: $screen-sm-max) {
}

@media (max-width: $screen-xs-max) {
  
}*/
