@import "src/assets/stylesheets/variables";

.link-container-widget {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50%;

  &,
  & li,
  & li a,
  & li span {
    display: block;
    color: $theme-greydark;
  }

  .b-bottom {
    color: $theme-greydark;
    text-align: left;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $primary !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid rgba(63,94,103,0.15);
    padding-bottom: 16px;
    margin-bottom: 24px;
    transition: all 0.3s;

    &:hover {
        border-color: #3F5E67;
        text-decoration: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

  &--headline {
    color: $theme-greydark;
    text-align: left;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;

    &.b-bottom {
      &:after {
        left: 0;
        margin: 0;
      }
    }
  }
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .link-container-widget li {
    a,
    span {
      color: #fff;
    }
  }
}
