@import "src/assets/stylesheets/variables";

.fact-widget {
  padding: 30px 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 96px 0 96px 70px;

  .value,
  .key {
    display: block;
    text-align: left;
  }

  .value {
    color: $primary;
    font-size: 120px;
    line-height: 80px;
    font: 160px/124px bebas-neue-pro-semiexpanded,sans-serif;
    width: fit-content;
    width: -moz-fit-content;
  }

  .key {
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    max-width: 200px;
    margin-top: 20px;
  }

  span:empty {
    min-width: 20px !important;
    display: block;
    background: rgba(0, 255, 0, 0.2);
  }
}

.bg-grey,
.bg-greymiddle,
.bg-greydark,
.bg-dark-image {
  .fact-widget .key {
    color: $theme-greylight;
  }
}

.bg-brand-primary,
.bg-brand-secondary {
  .fact-widget .value {
    color: #fff;
  }
}
