@import "src/assets/stylesheets/variables";

.fact-widget {
  padding: 30px 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  .value,
  .key {
    display: block;
    text-align: left;
  }

  .value {
    color: #fff;
    font-size: 120px;
    line-height: 80px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    width: fit-content;
    width: -moz-fit-content;
  }

  .key {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    max-width: 140px;
    margin-top: 20px;
  }

  span:empty {
    min-width: 20px !important;
    display: block;
    background: rgba(0, 255, 0, 0.2);
  }
}

.bg-grey,
.bg-greymiddle,
.bg-greydark,
.bg-dark-image {
  .fact-widget .key {
    color: $theme-greylight;
  }
}

.bg-brand-primary,
.bg-brand-secondary {
  .fact-widget .value {
    color: #fff;
  }
}
