@import "src/assets/stylesheets/variables";

.bid-job-overview {
  display: flex;
  flex-direction: column;
  
h2 {
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 0;
  margin-bottom: 12px;
}
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
  margin-bottom: 96px;
  position: relative;
  p {
    margin-bottom: 120px;
  }
  .btn-primary {
    position: absolute;
    bottom: 0;
  }
  }
}


@media (min-width: $screen-lg-min) {
}

@media (max-width: $screen-md-max) {
}

@media (max-width: $screen-sm-max) {
}

@media (max-width: $screen-xs-max) {
  
}

.extended-fact-widget {
  padding: 40px;
  //width: 250px;

  .fact-value,
  .fact-key {
    display: block;
    text-align: left;
  }

  .fact-title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    position: relative;
    &:after {
      content: "";
      display: block;
      border: 2px solid $blue-line;
      position: absolute;
      width: 18px;
      top: 12px;
      left: 35px;
    }
  }

  .fact-value {
    color: #fff;
    font-size: 120px;
    line-height: 80px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    margin-top: 20px;
  }

  .fact-key {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 2px solid $blue-line;
    padding-bottom: 24px;
    margin-bottom: 120px;
  }

  span:empty {
    min-width: 20px !important;
    display: block;
    background: rgba(0, 255, 0, 0.2);
  }
}
