@import "../../assets/stylesheets/variables";


.bid-column-headline-text-block-widget {
  margin-bottom: 32px;
  background-color: #334260;

margin: 0 12px;
padding: 74px 32px 64px;
  h2 {
    color: #fff;
font-weight: 700;
font-size: 24px;
line-height: 32px;
margin-bottom: 8px;
  }
  p {
    color: #fff !important;
font-size: 22px;
line-height: 32px;
  }
}

@media (min-width: $screen-lg-min) {
}

@media (max-width: $screen-md-max) {
}

@media (max-width: $screen-sm-max) {
}

@media (max-width: $screen-xs-max) {
  
}

