.svg_arrow_dropdown {
	width: 10.745px;
	height: 6.433px;
}

.svg_soc_fb {
	width: 17.946px;
	height: 17.946px;
}

.svg_soc_in {
	width: 17.946px;
	height: 17.946px;
}

.svg_soc_tw {
	width: 18.216px;
	height: 14.804px;
}

